.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form input{
    border: none;
    border-bottom: 1px solid #949494;
    padding: 10px 30px;
    font-size: 20px;
}

.form button {
    cursor: pointer;
    border: none;
    background-color: rgb(251, 172, 68);
    margin-top: 20px;
    padding: 10px;
}