*{
    background-color: rgb(239, 235, 229);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.books{
    padding: 30px 0;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.books .book {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.books .book img {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.books .book .buttbook {
    display: flex;
    gap: 20px;
}

.books .book .buttbook button {
    cursor: pointer;
}

.books .book .buttbook button {
    padding: 10px 20px;
    border: 1px solid #000000;
    text-decoration: none;
    color: black;
    background-color: rgb(217, 106, 106);
}

